.frontpage--mh2018 {

}

.frontpage__intro {
  padding-top: 4rem;

  .grid {
    position: relative;
  }

  .h1 {
    margin-bottom: 0;
  }

  h2 {
    //margin-right: px-rem(-200);
  }

  .grid__item:first-child {
    position: sticky;
    top: 3rem;
    padding-bottom: 3rem;
    z-index: 10;
    align-self: start;
  }
  .grid__item:last-child {
    @include shadow($shadow1: 'lines', $size: px-rem(16), $width: 4px);
    margin-top: -4rem;

    &:before {
      background-size: 48px 48px;
      background-position: bottom right;
    }

    video {
      display: block;
      border: 4px solid #000;
    }
  }
}

.frontpage__usp {
  position: relative;
  text-align: center;

  .section__inner {
    position: relative;
    box-shadow: inset 0px 0px 0px 2px #000;
    background-color: #fff;
    margin: px-rem(8);
    padding: px-rem(56) px-rem(40) px-rem(64);

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -8px;
      top: -8px;
      right: -8px;
      bottom: -8px;
      background: transparent url('../img/lines-pattern.svg') repeat center center;
    }
  }

  &__title {
    margin: 0 0 px-rem(48);
    font-weight: $weight_super;
  }

  .grid__item {
    h5 {
      font-size: 18px;
      line-height: 24px;
      font-weight: $weight_super;
      word-spacing: -0.2em;
    }

    img {
      margin-bottom: 1.5rem;
    }
  }

  &__action {
    font-family: $font_mono;
    font-weight: $weight_super;
    font-size: px-rem(18);
    line-height: 1.5rem;
    word-spacing: -0.2em;
    text-transform: uppercase;
    color: $textgray;
    margin: px-rem(56) 0;
  }
}

.grogrid {
  display: grid;
  margin-left: -1rem;
  margin-right: -1rem;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: px-rem(8);
}

.grogrid__item {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  &:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  &:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  &:nth-child(4) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

.frontpage__gallery {
  .grid__item {
    @include shadow($size: px-rem(8), $background: #fff);
    border: 2px solid #000;
  }

  /*.grid__item:nth-child(1) {
    @include detail($y: 'top', $width: 11, $height: 5);
  }

  .grid__item:nth-child(2) {
    @include detail($pattern: 'lines', $x: false, $y: false, $width: 10, $height: 10);

    &:after {
      bottom: -1rem;
      left: -1rem;
    }
  }

  .grid__item:nth-child(3) {
    @include detail($y: 'top', $x: 'right', $width: 6, $height: 6);
  }

  .grid__item:nth-child(4) {
    @include detail($y: 'bottom', $x: 'left', $width: 5, $height: 11);
  }

  .grid__item:nth-child(6) {
    @include detail($y: 'bottom', $x: 'right', $width: 7, $height: 9);
  }*/
}
