{{ define "main" }}
<article class="frontpage frontpage--mh2018 page">
  <header class="section section--full margin--none section--generator">
    <div class="container">
      <div class="generator">
        <ul class="generator__options generator__options--solution">
          {{ range $solution := $.Param "solution" }}
            <li class="generator__option__option">{{ $solution.name }}</li>
          {{ end }}
        </ul>
        <ul class="generator__options generator__options--subject">
          {{ range $subject := $.Param "subject" }}
            <li class="generator__options__option">{{ $subject.name }}</li>
          {{ end }}
        </ul>
      </div>

      <div class="generated">
        <h1>Gör <span class="generated__value generated__value--solution">en app</span> <br>
        om <span class="generated__value generated__value--subject">matsvinn</span></h1>
        <h2 class="light">På Madhack <br>16-17 November 2018!</h2>

        {{/*<ul class="generated__fact">
          {{ range $subject := $.Param "subject" }}
            <li class="generated__value generated__value--fact">
              <div class="lead">Varför?</div>
              <p>{{ $subject.fact }}</p>
              <p>Källa: <a href="{{ $subject.facturl }}" target="_blank">{{ $subject.factsource }}</a></p>
            </li>
          {{ end }}
        </ul>*/}}
      </div>
    </div>
  </header>

  <section class="section frontpage__intro">
    <div class="grid grid--2">
      <div class="grid__item">
        <h2 class="h1">Hög tid för en hållbar jul</h2>

        <p class="lead">Madhack kommer ta med dig på en unik resa i en kreativ process. Det är inte så invecklat som det låter, men det är garanterat ett hackathon som skiljer sig från mängden. Vi startar på GRO36 i Jönköping fredagen den 16 nov kl 17.00. </p>

        <p>Den här gången handlar Madhack om att göra julen mer hållbar. För visst är det härligt att fira jul. Men vi tycker också att det är dags för ett hållbart firande. Där vi köper mindre saker ingen vill ha, slänger mindre mat och där fler kan delta.</p>

        <p>16-17 november kör vi, <a href="https://madhack2018.confetti.events/signup" target="_blank">anmäl dig idag!</a></p>
      </div>
      <div class="grid__item">
        {{/*<video src="pontus.mp4" autoplay loop mute poster="pontus.jpg"></video>*/}}

        {{ partial "lazyimage" (dict "src" ($.Param "intro") "alt" "Movie placeholder" ) }}
      </div>
    </div>
  </section>

  <section class="section margin--large frontpage__usp">
    <div class="section__inner">
      <h5 class="frontpage__usp__title">Varför ska jag vara med på Madhack?</h5>

      <div class="grid grid--4">
        <div class="grid__item">
          <img src="contact/contact-facebook.svg" alt="">
          <h5>Knyta kontakter</h5>
        </div>
        <div class="grid__item">
          <img src="contact/contact-facebook.svg" alt="">
          <h5>För en god sak</h5>
        </div>
        <div class="grid__item">
          <img src="contact/contact-facebook.svg" alt="">
          <h5>Lär dig något nytt</h5>
        </div>
        <div class="grid__item">
          <img src="contact/contact-facebook.svg" alt="">
          <h5>För att det är kul!</h5>
        </div>
      </div>

      {{ if $.Site.Params.signup }}
        <div class="frontpage__usp__action">
          <a href="{{ $.Site.Params.signup }}" target="_blank">Anmäl dig</a> eller läs våra <a href="#faq">Frågor och svar</a>.
        </div>
      {{ end }}
    </div>
  </section>

  <section class="section section--center margin--large frontpage__gro36">
    <h2>Vi ses på GRO36!</h2>
    <p class="lead light">GRO36 är ett coworkingspace och mötesplats i Jönköping där startups, entreprenörer, frilansare och konsulter delar på nätverk och affärer i en dynamisk arbetsmiljö bland palmer, whiteboards och pingisbord. Lokalerna är designade för att maximera din produktivitet och boosta kreativitet.</p>

    <p class="lead light">Läs mer på <a href="http://gro36.se">gro36.se</a>.</p>
  </section>

  <section class="section margin--smaller frontpage__gro36-grid">
    <div class="grogrid">
      {{ range $i, $path := $.Param "gro" }}
        <div class="grogrid__item">
          {{ partial "lazyimage" (dict "src" $path "alt" (print "gro36-" $i) "nosize" true ) }}
        </div>
      {{ end }}
    </div>
  </section>

  <section class="section frontpage__gallery">
    <div class="grid grid--3">
      {{ range $i, $path := $.Param "gallery" }}
        <div class="grid__item grid__item--image">
          {{ partial "lazyimage" (dict "src" $path "alt" (print "madhack-" $i) ) }}
        </div>
      {{ end }}
    </div>
  </section>

  <section class="section section--center frontpage__faq" id="faq">
    <h2>Frågor och svar</h2>

    <ul class="faq gridmax-8">
      {{ range $item := $.Param "faq" }}
        <li class="faq__item">
          <div class="faq__question">{{ $item.question }}</div>
          <div class="faq__answer">{{ $item.answer | markdownify }}</div>
        </li>
      {{ end }}
    </ul>
  </section>

  <section class="section section--full frontpage__organizers">
    <div class="container">
      <h2>Arrangörer</h2>

      <div class="grid grid--3 gridmax-10">
        <div class="grid__item">
          <div class="organizer__logo">
            <img src="logo-ny.svg" alt="NY Collective">
          </div>
          <h5>NY Collective</h5>
          <p class="small">Ny Collective är en reklambyrå, webbyrå och studio som gillar att ha kul och göra bra grejer.</p>
          <p class="small"><a href="https://ny.se" target="_blank">Läs mer om NY Collective</a></p>
        </div>
        <div class="grid__item">
          <div class="organizer__logo">
            <img src="logo-sogeti.svg" alt="Sogeti">
          </div>
          <h5>Sogeti</h5>
          <p class="small">Sogeti levererar IT-konsulttjänster på den lokala marknaden. Alltså allt ifrån AI-utveckling till användningstester.</p>
          <p class="small"><a href="https://sogeti.se" target="_blank">Läs mer om Sogeti</a></p>
        </div>
        <div class="grid__item">
          <div class="organizer__logo">
            <img src="logo-gro.svg" alt="GRO36">
          </div>
          <h5>GRO36</h5>
          <p class="small">GRO36 är ett co-working space (kontorshotell) i Jönköping för dig som driver en startup, frilansar eller arbetar på distans.</p>
          <p class="small"><a href="https://gro36.se" target="_blank">Läs mer om GRO36</a></p>
        </div>
      </div>
    </div>
  </section>

  {{/*{{- partial "page-end.html" . -}}*/}}

</article>

{{ end }}
