{{ define "main" }}
<article class="about page">
  <header class="about__header page__header page__header--split">
    <div class="col">
      <h1>Vad är<br/>Madhack?</h1>
      <h2 class="light">Vi vill göra världen lite bättre!</h2>
      <p class="lead">Madhack handlar mer om att hacka fram bra idéer än att hacka kod, även om det också sker. Att hitta en kreativ och hållbar idé är viktigare än att producera en färdig produkt.</p>
    </div>

    <div class="col col--image">
      <img class="lazyload" src="about-mad.png" alt="MAD Mark">
    </div>
  </header>

  <section class="section section--center about__contactstart">
    <div class="about__contactstart__image gridmax-10">
      <img class="lazyload" src="about-group-placeholder.png" alt="">
    </div>

    <h2>Vi är Madhack</h2>
    <p class="lead light">Vi är ett engagerat team som jobbar med Madhack. Kontakta oss gärna om du har frågor om eventet eller vill vara med och bidra.</p>
  </section>

  <section class="section margin--smaller about__contactlist">
    <div class="grid grid--3 margin--smaller">
      <div class="grid__item">
        <h5>Jesper Källgård</h5>
        <p class="small"><strong>UX-Designer, Sogeti</strong></p>
        {{/*<p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>*/}}
        <p class="small"><strong><a href="mailto:jesper.kallgars@sogeti.se">Kontakta Jesper</a></strong></p>
      </div>

      <div class="grid__item">
        <h5>Olle Brickarp</h5>
        <p class="small"><strong>UI-/UX-Designer, NY Collective</strong></p>
        {{/*<p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>*/}}
        <p class="small"><strong><a href="mailto:olle.brickarp@ny.se">Kontakta Olle</a></strong></p>
      </div>

      <div class="grid__item">
        <h5>Maria Norberg</h5>
        <p class="small"><strong>AD-Assistent, NY Collective</strong></p>
        {{/*<p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>*/}}
        <p class="small"><strong><a href="mailto:maria.norberg@ny.se">Kontakta Maria</a></strong></p>
      </div>

      <div class="grid__item">
        <h5>Jesper Johansson</h5>
        <p class="small"><strong>Webbutvecklare, Sogeti</strong></p>
        {{/*<p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>*/}}
        <p class="small"><strong><a href="mailto:jesper.johansson@sogeti.se">Kontakta Jesper</a></strong></p>
      </div>

      <div class="grid__item">
        <h5>Emil Svensson</h5>
        <p class="small"><strong>Arbetstitel, GRO36</strong></p>
        {{/*<p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>*/}}
        <p class="small"><strong><a href="mailto:emil.svensson@gro36.se">Kontakta Emil</a></strong></p>
      </div>

      <div class="grid__item">
        <h5>Martin Norén</h5>
        <p class="small"><strong>Arbetstitel, NY Collective</strong></p>
        {{/*<p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>*/}}
        <p class="small"><strong><a href="mailto:martin.noren@ny.se">Kontakta Martin</a></strong></p>
      </div>
    </div>
  </section>

  <section class="section section--center about__previousstart">
    <h2>Genomförda event</h2>
    <p class="lead light">Tack till alla er som har deltagit och gjort våra tidigare Madhacks så lyckade. Hoppas vi ses igen i år!</p>
  </section>

  <section class="section section--wide padding--none margin--smaller about__event about__madhack16">
    <div class="pushgrid pushgrid--left">
      <div class="pushgrid__col pushgrid__col--image">
        <img class="lazyload" src="about-mh2016.jpg" alt="Madhack 2016">
      </div>

      <div class="pushgrid__col gridmax-6">
        <h3>Madhack 2016<br/>
        <span class="light">Få ungdomar i rörelse</span></h3>

        <p>Första Madhack handlade om att få ungdomar i rörelse. Inspirerade av SVT:s Gympaläraren kände vi att något måste göras för att motverka stillasittandet. De finns de som hävdar att det var här idén till Pokémon Go föddes, men det låter vi nog vara osagt.</p>
      </div>
    </div>
  </section>

  <section class="section section--wide padding--none margin--smaller about__event about__madhack16">
    <div class="pushgrid pushgrid--right">
      <div class="pushgrid__col pushgrid__col--image">
        <img class="lazyload" src="about-mh2017.jpg" alt="Madhack 2017">
      </div>

      <div class="pushgrid__col gridmax-6">
        <h3>Madhack 2017<br/>
        <span class="light">Källkritik</span></h3>

        <p>Sociala medier svämmar över med falska nyheter, vi tyckte det var dags att kasta ljus på problemet och gav Madhack 2017 ämnet källkritik. Under två dagar skapades idéer om allt från verktyg för att bedöma sanningsgrad till spel för att motivera till kritiskt tänkande.</p>
      </div>
    </div>
  </section>

  {{/*{{- partial "page-end.html" . -}}*/}}

{{ end }}
