{{ define "main" }}
<article class="about page">
  <header class="about__header page__header page__header--split">
    <div class="col">
      <h1>Vad är<br/>Madhack?</h1>
      <h2 class="light">Lorem ipsum dolor sit amet.</h2>
      <p class="lead">Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>

    <div class="col col--image">
      <img src="about-mad.png" alt="MAD Mark">
    </div>
  </header>

  <section class="section section--center about__contactstart">
    <div class="about__contactstart__image gridmax-10">
      <img src="about-group-placeholder.png" alt="">
    </div>

    <h2>Vi är Madhack</h2>
    <p class="lead light">Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur.</p>
  </section>

  <section class="section about__contactlist">
    <div class="grid grid--3 margin--smaller">
      <div class="grid__item">
        <h5>Jesper Källgård</h5>
        <p class="small"><strong>Arbetstitel, Sogeti</strong></p>
        <p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>
        <p class="small"><strong><a href="mailto:olle.brickarp@ny.se">Kontakta Olle</a></strong></p>
      </div>

      <div class="grid__item">
        <h5>Olle Brickarp</h5>
        <p class="small"><strong>UI/UX Designer, NY Collective</strong></p>
        <p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>
        <p class="small"><strong><a href="mailto:olle.brickarp@ny.se">Kontakta Olle</a></strong></p>
      </div>

      <div class="grid__item">
        <h5>Maria Norberg</h5>
        <p class="small"><strong>AD-Assistent, NY Collective</strong></p>
        <p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>
        <p class="small"><strong><a href="mailto:maria.norberg@ny.se">Kontakta Maria</a></strong></p>
      </div>

      <div class="grid__item">
        <h5>Jesper Johansson</h5>
        <p class="small"><strong>Arbetstitel, Sogeti</strong></p>
        <p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>
        <p class="small"><strong><a href="mailto:jesper.johansson@sogeti.se">Kontakta Jesper</a></strong></p>
      </div>

      <div class="grid__item">
        <h5>Emil Svensson</h5>
        <p class="small"><strong>Arbetstitel, GRO36</strong></p>
        <p class="small">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac.
        </p>
        <p class="small"><strong><a href="mailto:emil.svensson@gro36.se">Kontakta Emil</a></strong></p>
      </div>

      <div class="gird__item"></div>
    </div>
  </section>

  <section class="section section--center about__previousstart">
    <h2>Genomförda event</h2>
    <p class="lead light">Första Madhack arrangerades 2016 lorem ipsum dolor sit amet. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </section>

  <section class="section section--wide padding--none margin--smaller about__event about__madhack16">
    <div class="pushgrid pushgrid--left">
      <div class="pushgrid__col pushgrid__col--image">
        <img src="about-mh2016.jpg" alt="Madhack 2016">
      </div>

      <div class="pushgrid__col gridmax-6">
        <h3>Madhack 2016<br/>
        <span class="light">Få ungdomar i rörelse</span></h3>

        <p>Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Donec sed odio dui. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
      </div>
    </div>
  </section>

  <section class="section section--wide padding--none margin--smaller about__event about__madhack16">
    <div class="pushgrid pushgrid--right">
      <div class="pushgrid__col pushgrid__col--image">
        <img src="about-mh2017.jpg" alt="Madhack 2017">
      </div>

      <div class="pushgrid__col gridmax-6">
        <h3>Madhack 2017<br/>
        <span class="light">Källkritik</span></h3>

        <p>Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Donec sed odio dui. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
      </div>
    </div>
  </section>

  {{- partial "page-end.html" . -}}

{{ end }}
