/* ---- Header ---- */
.site-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: px-rem(24);
  margin-bottom: px-rem(32);

  @include mq($portrait) {
    margin-top: px-rem(40);
    margin-bottom: px-rem(56);
  }
  @include mq($landscapePlus) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: px-rem(56);
    margin-bottom: px-rem(80);
  }
}

.logo {
  margin-bottom: 1.5rem;

  &, svg {
    display: block;
  }

  &:hover {
    .svg-logo__inner {
      * {
        animation: wave infinite 0.7s ease;
      }
    }
  }

  @include mq($landscapePlus) {
    margin-bottom: 0;
  }
}

.logo .svg-logo {
  &__inner {
    @for $i from 1 to 8 {
      *:nth-child(#{$i}) {
        animation-delay: ($i * 0.03s - 0.03);
      }
    }
  }
}


.menu a,
.btn {
  .letter {
    display: inline-block;

    &--space {
      margin-right: 0.6em;
    }
  }

  &:hover {
    span {
      animation: wave 0.35s ease;
    }
  }

  span {
    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        animation-delay: ($i * 0.03s - 0.03);
      }
    }
  }

  &.item--long {
    a {
      animation-duration: 0.25s;
    }

    span {
      @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
          animation-delay: ($i * 0.02s - 0.02);
        }
      }
    }
  }
}

@keyframes wave {
  0%,100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes wavebig {
  0%,50%,100% {
    transform: translate3d(0,0px,0);
  }
  25% {
    transform: translate3d(0,-8px,0);
  }
  75% {
    transform: translate3d(0,8px,0);
  }
}
