{{ define "main" }}
<article class="contact page">
  <header class="contact__header page__header page__header--split">
    <div class="col">
      <h1>Kontakta<br/>Madhack</h1>

      <ul class="contact__social">
        <li class="contact__social__email">
          <a href="mailto:hej@madhack.se">
            <img src="contact-email.svg" alt="Email">
            <span>hej@madhack.se</span>
          </a>
        </li>
        <li class="contact__social__facebook">
          <a href="https://www.facebook.com/madhackjkpg" target="_blank">
            <img src="contact-facebook.svg" alt="Facebook">
            <span>Facebook</span>
          </a>
        </li>
        <li class="contact__social__instagram">
          <a href="https://www.instagram.com/madhackjkpg/" target="_blank">
            <img src="contact-instagram.svg" alt="Instagram">
            <span>Instagram</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col col--image">
      {{ partial "lazyimage" (dict "src" ($.Param "hero") "alt" "Contact" ) }}
    </div>
  </header>

  <section class="section section--center contact__press">
    <h2>Press</h2>
    <p class="lead light">Vill du skriva om Madhack? Kul! Det hjälper oss att sprida medvetenheten om årets tema. Hör av dig så berättar vi mer.</p>
    <p class="lead light">
      <strong>Presskontakt </strong><br>
      Jesper Källgård<br>
      <a href="mailto:jesper.kallgard@sogeti.se"> jesper.kallgard@sogeti.se</a><br>
 070 - 511 66 18
    </p>
  </section>

  {{/*<section class="section section--center-self margin--smaller contact__press gridmax-10">
    <div class="grid grid--2">
      <div class="grid__item grid__item--image">
        <a href="enhallbarjul-large.jpg" target="_blank">
          <img class="smooth" src="enhallbarjul-preview.jpg" alt="En Hållbar Jul">
        </a>
      </div>
      <div class="grid__item grid__item--image">
        <a href="pontus-large.jpg" target="_blank">
          <img class="smooth" src="pontus-preview.jpg" alt="Pontus">
        </a>
      </div>
      <div class="grid__item grid__item--image">
        <a href="madhack-logo.ai">
          <img src="press-logo.png" alt="Logotyp">
        </a>
      </div>
      <div class="grid__item grid__item--image">
        <a href="">
          <img src="press-kit.png" alt="Presskit">
        </a>
      </div>
    </div>
  </section>*/}}

  {{/*{{- partial "page-end.html" . -}}*/}}
</article>

{{ end }}
